* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: white;
}

#menu_logo {
  width: 300px;
  height: 125px;
  object-fit: contain;
  padding: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  position: fixed;
  width: 300px;
  height: 100vh;
  background: #FFF;
  font-size: 0.65em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.nav {
  margin: 0 10%;
  text-align: right;
  top: 50%;
  font-weight: bold;
  z-index: 100;
}

.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 3.2em 0;
}
.nav ul li a {
  line-height: 3em;
  text-decoration: none;
  display: block;
  transition: all ease-out 300ms;
  color: black;
}
.nav ul li a h3 {
  font-size: 2em;
  font-weight: normal;
}
.nav ul li a p {
  color: grey;
}
.nav ul li.active a h3 {
  color: #7094d6;
}
.nav ul li:not(.active):hover a {
  color: rgba(112, 148, 214, 0.75);
}
.nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, white, #7094d6);
}

.content {
  position: relative;
  width: calc(100vw - 300px);
  float: right;
  height: 100vh;
  overflow: hidden;
}

.social_link {
  display: flex;
  margin-top: auto;
  height: 40px;
  border-top: 1px solid lightgrey;
  text-decoration: none;
  color: #7094d6;
  transition: 0.3s;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
}
.social_link:hover {
  background-color: #7094d6;
  color: white;
}
.social_link:hover.fa {
  color: white;
}
.social_link.fa {
  transition: 0.3s;
}

#slide {
  width: 96%;
}

* {
  box-sizing: border-box;
}

.mySlides {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.slideshow-container {
  width: auto;
  position: relative;
  margin: -10px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #494B55;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  z-index: 4;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 0;
  left: 50%;
  z-index: 4;
}

.active_slide {
  z-index: 2;
}

.old_slide {
  z-index: 1;
}

.active_slide, .dot:hover {
  background-color: #494B55;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
.pics {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/*# sourceMappingURL=styles.css.map */
