/*! purgecss start ignore */
@import "slick-carousel/slick/slick.css";
/*! purgecss end ignore*/

.slick-dots li {
    @apply inline-block;
}
.slick-dots span {
    @apply bg-gray-500;
}
.slick-dots .slick-active span {
    @apply bg-pplusBlue-500 rounded-l-full rounded-r-full w-12;
}

.slick-center {
    transform: scale(1.1);

}

.slick-slide {
    transition: transform 500ms ease-out;
}

.slick-list{
   padding: 50px !important
}

.slick-arrow {
    position: absolute;
    z-index: 1000;
    top: 50%;
    transform: translate(0, -50%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

 @media (max-width: 576px) {
     .slick-arrow{
         visibility: hidden;
     }
}

.slick-arrow-prev {
    left: 0;
}
.slick-arrow-next {
    right: 0;
}
